root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{pug}]
charset = utf-8
indent_style = tab
tab_width = 2

[*.{js,jsx,ts,tsx,html,json,yml,hbs,scss}]
charset = utf-8
indent_style = space
tab_width = 2
